// ASSESSMENT
.assessment {
  display: flex;
  justify-content: center;
  padding: 15px;
  text-align: center;
}

.card-header {
  font-weight: 600;
}

.card {
  margin-left: 1em;
  margin-right: 1em;
}

.btn-info{
  background-color: #007bff;
  display:flex;
  margin-left:auto;
}