// LOGIN/REGISTER
.login, .register {
  background-color: lightgrey;
  width: 45vw;
  height: 45vh;
  margin: auto;
  margin-top: 10vh;
  border: 0.5em solid lightgrey;
  border-radius: 1em;


}


.register {
  height: 58vh;
}

.loginTitle {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 3em;
}

#login-nav {
  margin-left: auto;
}

.login-form{
  font-size: 1.8em;
  width: 35vw;
  margin: auto;
}

.quarantine-timer {
  font-size: 1.8em;
}