.quarantine {
  margin-top: 25vh;
}

.quarantine-div {
  border: 0.5em solid;
  border-color: orange;
  border-radius: 1em;
  width: 35em;
}

.quarantine-timer{
  display:flex;
  justify-content:center;
  margin: 0.5em;
}

.map-link {
  :hover{
    color: red;
  }
}

